* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.header__dropdown-menu {
  margin-right: 18px;
}

@media (max-width: 576px) {
  .header__logo {
    width: 137px;
    margin-top: 10px;
  }
}
